/*
	Feuille de style SASS
	SMACSS : Layout > Footer
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
	http://www.ryadkarar.fr/
*/

/* @@AuteurDuProjet : Pied de page */

#l-wrapper-footer {
}