/*
	Feuille de style SASS
	SMACSS : Layout > Responsive
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
	http://www.ebizproduction.com/
*/

/* @@AuteurDuProjet : Responsive > Tablettes */

@media (max-width: 50em) {
}

/* @@AuteurDuProjet : Responsive > Phablettes */

@media (max-width: 25em) {
}

/* @@AuteurDuProjet : Responsive > Phones */

@media (max-width: 7em) {
}