/*
	Feuille de style SASS
	SMACSS : Modules > Boutons
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
*/

/* @@AuteurDuProjet : Boutons */

.m-btn {
	display: inline-block;
	border: none;
}

/* @@AuteurDuProjet : Tailles des boutons */

.m-gros {
	margin: 0;
	padding: 0;
	font-size: 1.125em;
}

.m-moyen {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.m-petit {
	margin: 0;
	padding: 0;
	font-size: .75em;
}