/*
	Feuille de style SASS
	SMACSS : Modules > Elements
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
*/

/* @@AuteurDuProjet : Alignement */

.m-txt-left {
	text-align: left !important;
}

.m-txt-center {
	text-align: center !important;
}

.m-txt-right {
	text-align: right !important;
}

/* @@AuteurDuProjet : Couleurs > Textes */

.m-txt-noir {
	color: $noir;
}

.m-txt-blanc {
	color: $blanc;
}

.m-txt-gris {
	color: $gris;
}

/* @@AuteurDuProjet : Couleurs > Backgrounds */

.m-bg-noir {
	background-color: $noir;
	color: $blanc;
	&:hover:not(div):not(section):not(span),
	&:focus:not(div):not(section):not(span),
	&:active:not(div):not(section):not(span) {
		background-color: darken($noir, 15%);
	}
}

.m-bg-blanc {
	background-color: $blanc;
	color: $gris;
	&:hover:not(div):not(section):not(span),
	&:focus:not(div):not(section):not(span),
	&:active:not(div):not(section):not(span) {
		background-color: darken($blanc, 15%);
	}
}

.m-bg-gris {
	background-color: $gris;
	color: $blanc;
	&:hover:not(div):not(section):not(span),
	&:focus:not(div):not(section):not(span),
	&:active:not(div):not(section):not(span) {
		background-color: darken($gris, 15%);
	}
}