/*
	Feuille de style SASS
	SMACSS : Modules > Icones
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
	http://www.ebizproduction.com/
*/

/* @@AuteurDuProjet : Icones */

.m-icone {
	&:hover {
	}
	&:active {
	}
}