/*
	Feuille de style SASS
	SMACSS : Modules > Icones
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
	http://www.ryadkarar.fr/
*/

/* @@AuteurDuProjet : Icones */

.m-icone {
	&:hover {
	}
	&:active {
	}
}