@charset "UTF-8";

/*
	Feuille de style SASS
	SMACSS : Tools > Mixins
	Par @@AuteurDuProjet
	Pour : @@NomDuProjet - @@DateDuProjet
*/

/* @@AuteurDuProjet : Fonts */

$font: "[Nom de la font]", sans-serif;

/* @@AuteurDuProjet : Couleurs */

$noir: #000;
$blanc: #fff;
$gris: #333;